<div class="home">
  <h2> Welcome on </h2>
  <h1>MMI's quotes</h1>
  <h5>Here you can save and share every students's or teachers's best remarks.</br> To continue please
  <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Login", new_user_session_path %>.</h5>
</div>
