/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * #FF8686
 *= require_tree .
 *= require_self
 */

/*font-family: 'Inconsolata', monospace;
font-family: 'Palanquin', sans-serif;
#333333 -- black / #F7F7F7 -- white / #FF8686 -- rose */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  background: #F7F7F7;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
input, label, field, textarea {
  border: inherit;
  outline: inherit;
  background: transparent;
  margin: inherit;
  padding: inherit;
}
a {
  text-decoration: none;
  color: #333333;
}
            /*  GENERAL */

.navbar {
  margin: 0 auto;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  padding: 20px;
  z-index: 99;
  width: 95%;
}
.navbar a {
  color: #333333;
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
  font-weight: 100;
  transition: 0.3s linear;
}
.navbar a:hover {
  color: #FF8686;
}
.navbar h3 a:hover {
  color: #FF8686;
}
.navbar div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: baseline;
  width: 30%;
  justify-content: space-between;
}
p {
    font-family: 'Palanquin', sans-serif;
    font-weight: 200;
    font-size: 15px;
    line-height: 21px;
    text-align: justify;
}

#notice {
  font-size: 10px;
  color: #FF8686;
}
footer p {
  text-align: center;
  font-size: 10px;
  color: #FF8686;
}
.logo a {
  font-size: 40px !important;
  color: #FF8686;
}
.logo a:hover, .logo a:active, .logo a:focus {
  color: #333333;
}
