.title {
  margin-left: 10%;
  margin-right: 10%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}
.users h2 {
  font-family: 'Inconsolata', monospace;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 25px;
}

.users {
  width: 420px;
  font-size: 15px;
}
.users, .add {
  margin: 30px auto;
  background: #FEFEFE;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Palanquin', sans-serif;
  font-weight: 200;
  -o-box-shadow: 5px 5px 15px 1px #cfcfcf;
  box-shadow: 5px 5px 15px 1px #cfcfcf;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=15);
}
.container {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}
.button-users {
  width: 100%;
  background: #FF8686;
  text-align: center;
  height: 36px;
  border: 2px solid #FF8686;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 0.4s ease;
}
.button-users:hover, .button-users:active {
  background: #FEFEFE;
  border: 2px solid #FF8686;
}

.button-users input:hover, .button-users input:hover {
  border: 0px solid white !important;
  color: #FF8686;
}
.button-users input {
  border: 0px solid white !important;
  text-transform: uppercase;
  color: #FEFEFE;
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
}
.new textarea {
  border-bottom: 2px solid #E1E1E1 !important;
  resize: vertical;
}
.users input, .new textarea, textarea#quote_quote  {
  border-bottom: 2px solid #E1E1E1;
  width: 100%;
  height: 40px;
  font-family: 'Inconsolata', monospace;
  font-size: 17px;
  padding: 1px;
  transition: all 0.3s ease;
}
input.new:hover, .new textarea:hover, textarea#quote_quote:hover,
input.new:active, .new textarea:active, textarea#quote_quote:active,
input.new:focus, .new textarea:focus, textarea#quote_quote:focus  {
  border-bottom: 2px solid #FF8686 !important;
}
.seperate {
  width: 1px;
  size: 10px;
  color: #F7F7F7;
  margin: inherit;
  padding: inherit;
}
checkbox#user_remember_me {
  width: 10%;
}
#remember_me label {
  width: 80%;
}
